{%- extends "base.html" %}
{%- block navlist %}
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/hosts">Hosts</a></li>
        </ul>
{%- endblock navlist %}
{%- block content %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5 col-md-offset-1">
          <h2>Active Alarms</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <table id="alarms" class="table table-striped">
            <thead>
              <tr>
                <th>State</th>
                <th>Host</th>
                <th>Check</th>
                <th>Alarm</th>
                <th>Status</th>
                <th>Time</th>
                <th>Ack</th>
                <th></th>
              </tr>
            </thead>
            <tbody class="table-striped">
            {%- for alarm in alarms %}
              <tr id={{ alarm['_id'] }}>
                <td><span class="label label-{{ alarm['state_label'] }}">{{ alarm['state'] }}</span></td>
                <td><a href="/history/{{ alarm['hostname'] }}">{{ alarm['hostname'] }}</a></td>
                <td>{{ alarm['check'] }}</td>
                <td>{{ alarm['alarm'] }}</td>
                <td>{{ alarm['status'] }}</td>
                <td>{{ alarm['timestamp'] }}</td>
                <td>{% if alarm['acknowledged']: -%}Yes{% else -%}No{% endif -%}</td>
                <td><a href="/alarms/{{ alarm['_id'] }}/acknowledge" title="Acknowledge"><span class="glyphicon glyphicon-ok"></span></a> <a href="/alarms/{{ alarm['_id'] }}/clear" title="Clear"><span class="glyphicon glyphicon-remove"></span></a></td>
              </tr>
            {%- endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-md-5 col-md-offset-1">
          <h2>Recent Events</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <table id="events" class="table table-striped">
            <thead>
              <tr>
                <th>State</th>
                <th>Host</th>
                <th>Check</th>
                <th>Alarm</th>
                <th>Status</th>
                <th>Timestamp</th>
            </thead>
            <tbody class="table-striped">
            {%- for event in events %}
              <tr>
                <td><span class="label label-{{ event['details']['state_label'] }}">{{ event['details']['state'] }}</span></td>
                <td><a href="/history/{{ event['entity']['label'] }}">{{ event['entity']['label'] }}</a></td>
                <td>{{ event['check']['label'] }}</td>
                <td>{{ event['alarm']['label'] }}</td>
                <td>{{ event['details']['status'] }}</td>
                <td>{{ event['details']['timestamp'] }}</td>
              </tr>
            {%- endfor %}
            </tbody>
          </table>
        </div>
      </div>
{%- endblock content %}
{%- block footer %}
    {{ super() }}
    <script src="/static/js/heatdash.js"></script>
{%- endblock footer %}
